
img{
    width:30%;
    float:left;
    margin:1%;
    border:2px lightgray solid;
} 
span{
    float:left;
}
p{
    font-family: 'Bellota', cursive;
    margin-left:1.66%;
    font-size:23px;
    font-weight:800;
    text-transform:uppercase;
    border-bottom:2px crimson solid;
    width:13%;
    padding-bottom:20px;
}